<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>backsplash</title>

  <!-- Stylesheets -->
  <link href="../assets/css/main.css" rel="stylesheet" />
  <link href="../assets/css/skeleton.min.css" rel="stylesheet" />
  <link href="../node_modules/notie/dist/notie.css" rel="stylesheet" />

</head>
<body>
  <div id="root" style="margin: 0 auto;">
    <div id="cards" class="middlediv">
    </div>
  </div>

  <!-- Scripts -->
  <script src="../applife.js"></script>
</body>
</html>
